// Variables

// colors

$clr-dark-grey: #2D2D2D;
$clr-mid-grey: #A0A0A0;
$clr-light-grey: #EDEDED;
$clr-white: #ffffff;
$clr-black: #000000;

$clr-primary: #3399FE;
$clr-closed: #83CC72;
$clr-pending: #EFC348;
$clr-canceled: #E05D5C;

// Fonts

$font-family: 'Roboto';

// layout

$header-height: 55px;
$breadcrumb-height: 50px;

