// Variables

// colors

$clr-dark-grey: #2d2d2d;
$clr-mid-grey: #a0a0a0;
$clr-light-grey: #ededed;
$clr-white: #ffffff;
$clr-black: #000000;

$clr-primary: #3399fe;

$clr-enviado: #98df88;
$clr-facturado: #efc348;
$clr-fabricando: #e05d5c;
$clr-planificando: #24cad6;
$clr-aceptado: #3fc70a;
$clr-solicitado: #e36ee7;

// Fonts

$font-family: "Roboto";

// layout

$header-height: 55px;
$breadcrumb-height: 50px;
