fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

label {
  cursor: pointer;
}

input,
select,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  margin: 0 5px 10px;
  padding: 5px 10px;
  width: 100%;
  height: auto;
  display: block;
  border: none;
  outline: none;
  background-color: $clr-light-grey;
  border-radius: 3px;

  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 4px -2px $clr-dark-grey;
    background-color: $clr-light-grey;
  }
}

input[type="checkbox"] {
  width: auto;
  margin-bottom: 0;
}

