.w100 {
  width: 100%;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.px5 {
  padding-right: 5px;
  padding-left: 5px;
}

.ta-c {
  text-align: center;
}
